*{
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html{
  scroll-behavior: smooth;
}

.bible-container{
  margin: 0 12rem;
}

.container-book-name,
.container-chapter,
.inputs-button-container,
.container-title-index,
.title-table-od-container,
.title-table-nt-container{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.inputs-button-container{
  gap: 2rem;
}

.inputs-button-container{
  align-items: center;
}

form{
  text-align: center;
  background-color: rgb(19, 185, 171);
  color: white;
  border-radius: 2rem;
  margin-top: 1rem;
}

form button{
  padding: 1rem;
  border-radius: .5rem;
  border: none;
  background-color: rgb(8, 84, 134);
  font-size: 1rem;
  color: white;
}

form button:hover{
  background-color: rgb(167, 226, 203);
  cursor: pointer;
}

.container-title-index{
  margin: 2rem;
}

.search-book-container{
  padding: 2rem;
}

.search-title{
  text-align: center;
}

#book-name{
  text-transform: uppercase;
}

input{
  margin: .5rem;
  width: 5rem;
  height: 1.2rem;
  padding: .3rem;
  font-size: 1rem;
}

input::placeholder{
  font-size: 1rem;
}

label{
  font-size: 1.5rem;
}

span, p{
  margin: 1rem;
}

.biblical-index-table{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5rem;
}

table, th, td{
  border: .1rem solid #282929;
  border-collapse: collapse;
  padding: .4rem;
}

tr:nth-child(odd){
  background-color: #96D4D4;
}

tr:nth-child(even){
  background-color: #60bbbb;
}

.back-to-top{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-decoration: none;
  width: 5rem;
  height: 5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: aqua;
  transform: rotate(-90deg);
  font-size: 1.5rem;
}